<div class="main">
  <h1>The List</h1>
  <div class = "first"> <!--Published Problems-->
    <h2>Published Problems</h2>

    <% @projects.publications.each do |project| %>
      <div class = "content">
        <%= image_tag(project.featured_image_url, class: 'picimg') %>
        <%= link_to project.name, project %>
        <p><%= project.content %></p>
        <div class = "clearer"></div>
      </div>
    <% end %>
<hr> <!--divider line; need to edit-->
 <div class = "second">
   <h2>Problem Drafts</h2>
    <% @projects.drafts.each do |project| %>
     <div class = "content">
       <%= image_tag(project.featured_image_url, class: 'picimg') %>
       <%= link_to project.name, project %>
       <p><%= project.content %></p>
       <div class = "clearer"></div>
     </div>
    <% end %>
  </div>
  </div>
    <hr>
  </div>
</div>
