<%= simple_form_for :search,
:name => 'q',
:id => 'search',
:url => url_for(:action => 'home', :controller => 'pages'),
:method => 'get' do |f| %>
<%= f.input :terms, label: false, input_html: { class: "u-full-width" } %>
<%= f.button :submit, "Search" %>

<div class="main">
  <h1>The List</h1>
<% end %>
  <div class = "first"> <!--Published Problems-->
    <h2>Published Problems</h2>

    <% @projects.publications.each do |project| %>
      <div class = "content">
        <%= image_tag(project.featured_image_url, class: 'picimg') %>
        <%= link_to project.name, project %>
        <p><%= project.content %></p>
        <div class = "clearer"></div>
      </div>
    <% end %>
<hr> <!--divider line; need to edit-->
 <div class = "second">
   <h2>Problem Drafts</h2>
    <% @projects.drafts.each do |project| %>
     <div class = "content">
       <%= image_tag(project.featured_image_url, class: 'picimg') %>
       <%= link_to project.name, project %>
       <p><%= project.content %></p>
       <div class = "clearer"></div>
     </div>
    <% end %>
  </div>
  </div>
    <hr>
  </div>
</div>
