<div class="nav">
    <span class="logo"><h3 style="margin:0 0 0 0;"><a href="<%= root_url %>" style="color:black;text-decoration:none;">Problems</a></h3></span>
    <ul class="menu-items">
      <li><%= link_to "The List", projects_url %></li>
      <li><%= link_to 'Sign In', new_user_session_path unless current_user %></li>
      <% if current_user %>
      <li><%= link_to 'My Page', user_path(current_user) %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% end %>
    </ul>
  </div>
